.UserSpotsIndexItemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 20px;
}

.UserSpotsIndexItem {
  aspect-ratio: 1.25;
  margin: 20px;
  border: 3px solid black;
  min-width: 200px;
  height: 300px;
}

.UserSpotsIndexItem:hover {
  cursor: pointer;
}

.ImageDiv {
  height: 75%;
  overflow: hidden;
}

.PreviewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.LocationRatingSpan {
  display: flex;
  justify-content: space-between;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
}

.UserSpotsIndexItemAndButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}