.UserSpotsIndexItemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0px 20px;
}

.UserSpotsIndexItem {
  aspect-ratio: 1.25;
  border: 3px solid var(--theme-color-dark);
  background-color: rgb(241, 220, 177);
  width:100%;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.UserSpotsIndexItem:hover {
  cursor: pointer;
}

.ImageDiv {
  height: 75%;
  overflow: hidden;
}

.PreviewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.LocationRatingSpan {
  display: flex;
  justify-content: space-between;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  margin:10px 0;
}

.UserSpotsButton {
  margin: 0 10px;
}

.UserSpotsIndexItemAndButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  min-width: 200px;
}