.SignupForm {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.SignUpFormInput {
  margin: 5% 50px;
  display: flex;
  justify-content: center;
}

.SignUpHeaderDiv {
  display: flex;
  justify-content: center;
}

.SubmitButtonDiv {
  display: flex;
  justify-content: center;
  margin: 5px 0 10px 0;
}
.SignUpSubmitButton {
  margin: 10px 0;
  width: 100px;
}

.ErrorMessage {
  display: flex;
  justify-content: center;
}