.SpotsIndexItemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 20px;
}

.SpotsIndexItem {
  background-color: rgb(241, 220, 177);
  border-radius: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(65, 48, 15);
  border: 2px solid rgb(241, 220, 177);
  font-weight: 600;
  color: rgb(241, 220, 177);
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  border-top-left-radius: 7px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;

  border-left: none;
  border-top: none;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
