.ReviewForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.FormInput {
  margin: 5% 0;
}

.ReviewFormTextArea {
  width: 100%;
}

.rating-input {
  display: flex;
  margin-right: 4px;
  align-items: center;
}

.rating-input .filled {
  color: rgb(204, 156, 67);
}

.rating-input .empty {
  color: var(--theme-color-dark);
}

#modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 10px 10px;
}
