.ReviewForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormInput {
  margin: 5% 0;
}

.rating-input {
  display: flex;
  margin-right: 4px;
  align-items: center;
}

.rating-input .filled {
  color: blue;
}

.rating-input .empty {
  color: lightblue;
}

#modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 10px 10px;
}
