/* TODO: Add sitewide styles */
body {
  background-image: url('https://i.pinimg.com/474x/a2/d2/d4/a2d2d404c591e0cc4c5da4d6e4585e0d.jpg');
  font-family: ui-serif;

  --theme-color-light: rgb(248, 235, 208);
  --theme-color-dark: rgb(88, 67, 25);
}

button {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

button:not(:disabled) {
  background-color: var(--theme-color-light);
  border: 1px solid var(--theme-color-dark);
  color: var(--theme-color-dark);
}

button:hover {
  cursor:pointer
}

input, textarea {
  border-radius: 5px;
}

input:not(:disabled), textarea:not(:disabled) {
  border: 3px solid var(--theme-color-dark);
  background-color: var(--theme-color-light);
}

.error {
  color:red;
}
label .error {
  margin-left:8px;
}
