.profile-dropdown {
  position: absolute;
  margin-top: 166px;
  list-style: none;
  background: rgb(241, 220, 177);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: rgb(88, 67, 25);
  border: 2px solid rgb(88, 67, 25);
  z-index: 2;
}

.LoggedOutDropdownDiv {
  margin-top: 39px;
  margin-bottom: 39px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.LogoImageDiv {
  width: 15%;
}

.Logo {
  width: 100%;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CreateSpotAndProfileButtonContainer {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.CreateNewSpotLink {
  margin-right: 10px;
  text-decoration: none;
}

.ProfileButton {
  width: 60px;
  margin-left: 5px;
  border: 2px solid black;
  border-bottom-left-radius: 20% 50%;
  border-top-left-radius: 20% 50%;
  border-top-right-radius: 20% 50%;
  border-bottom-right-radius: 20% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  background-color: white;
}
.ProfileButton:hover {
  cursor: pointer;
}

.ManageSpotsButtonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.LogoutButtonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.DropdownDivider {
  width: 75%;
}

.DropdownUsernameDiv {
  margin: 10px 10px 0 10px;
}

.DropdownFullNameDiv {
  margin: 0 10px;
}

.DropdownEmailDiv {
  margin: 0 10px;
}

.DropdownLogInButton {
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  height: 30px;
  color: black;
}
.DropdownLogInButton:hover {
  cursor: pointer;
}

.DropdownSignUpButton {
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  height: 30px;
  color: black;
}
.DropdownSignUpButton:hover {
  cursor: pointer;
}

.CreateNewSpotLink {
  font-weight: 600;
  color: brown;
  font-size: large;
}