.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.LogoImageDiv {
  width: 15%;
}

.Logo {
  width: 100%;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProfileButton {
  width: 5%
}

.profile-dropdown {
  background-color: blue;
}